<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Forgot Password</title>

    <!-- Custom fonts for this template-->
    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
/>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
/>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet"/>
  </head>

  <body class="bg-gradient-success">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">
                        Forgot Your Password?
                      </h1>
                      <p class="mb-4">
                        We get it, stuff happens. Just enter your ID below and we'll send you a link to reset your password via email that registerd in your account!
                      </p>
                    </div>
                    <form class="user" method="post" action="" >
                      <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="inputID" name="userID" placeholder="Enter Your ID..."/>
                      </div>
                      <input type="" id="checkID" class="btn btn-primary btn-user btn-block" disabled readonly value="ID Check">
                    </form>
                    <hr/>
                    <div class="text-center">
                      <a class="small" href="/auth/signup"
                        >Create an Account!</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="/auth/login"
                        >Already have an account? Login!</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="/">&larr; Back to Dashboard</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      if (document.querySelector('#checkID')) {
        const checkIDBtn = document.querySelector('#checkID');
        const inputIDBox = document.querySelector('#inputID');

        inputIDBox.addEventListener('input', function (e) {
          if (inputIDBox.value) {
            checkIDBtn.disabled = false;
          } else {
            checkIDBtn.disabled = true;
          }
        })

        checkIDBtn.addEventListener('click', function (e) {
          inputIDBox.disabled = true;
          axios
            .post('/auth/valid-id', {inputID: inputIDBox.value})
            .then((res) => {
              if (res.data.error_message) {
                const errorMessageBox = createErrorMsgBox(res);
                inputIDBox.disabled = false;
                checkIDBtn
                  .parentNode
                  .appendChild(errorMessageBox);
              } else {
                deleteErrorMsgBox();
                const resetBtn = createResetBtn(res);
                checkIDBtn
                  .parentNode
                  .appendChild(resetBtn);
                checkIDBtn.remove();
              }
            })
            .catch(console.error);
        })
      }

      function createErrorMsgBox(res) {
        const errorMessageBox = document.createElement('p');
        errorMessageBox.textContent = res.data.error_message;
        errorMessageBox.setAttribute('id', 'error-message');
        errorMessageBox.setAttribute('class', 'form-group text-center mt-3');

        return errorMessageBox;
      }

      function deleteErrorMsgBox() {
        if (document.querySelector('#error-message')) {
          document
            .querySelector('#error-message')
            .remove()
        }
      }

      function createResetBtn(res) {
        const resetBtn = document.createElement('input');
        resetBtn.setAttribute('type', '');
        resetBtn.setAttribute('id', 'resetPW');
        resetBtn.setAttribute('class', 'btn btn-success btn-user btn-block');
        resetBtn.setAttribute('value', 'Valid ID! Click to reset your password!');
        resetBtn.setAttribute('readonly', 'true');
        resetBtn.addEventListener('click', function (e) {
          axios
            .post('/auth/send-reset-mail', {username: res.data.username})
            .then((res) => {
              const succeedMsg = createSucceedMsg(res.data.message);
              resetBtn
                .parentNode
                .appendChild(succeedMsg);
              resetBtn.disabled = true;
            })
            .catch(console.error);
        })
        return resetBtn;
      }

      function createSucceedMsg(message) {
        const successMsg = document.createElement('p');
        successMsg.textContent = message;
        successMsg.setAttribute('id', 'error-message');
        successMsg.setAttribute('class', 'form-group text-center mt-3');

        return successMsg;
      }
    </script>
  </body>
</html>