{% extends 'base.njk' %}
{% block content %}
  <!-- Page Heading -->
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-success">{{board.boardName_kor}}게시판</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th width="60%">글 제목</th>
              <th>작성 날짜</th>
              <th>작성자</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in docs %}
              <tr>
                <td>
                  <a href="/board/view?id={{board.id}}&no={{doc.id}}">{{ doc.title }}</a>
                </td>
                <td>{{ doc.createdAt }}</td>

                {% if board.boardName_eng == 'anonymous' %}
                  <td>익명</td>
                {% else %}
                  <td>{{ doc.author }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <ul class="pagination">
    <li class="page-item">
      <a href="?page=1" class="page-link">First</a>
    </li>
    {% if paginate.hasPreviousPages %}
      <li class="page-item">
        <a href="{{paginate.href(true)}}" class="page-link">Previous</a>
      </li>
    {% endif %}
    {% if pages %}
      {% for page in pages %}
        <li class="page-item">
          <a href="{{page.url}}" class="page-link">{{page.number}}</a>
        </li>
      {% endfor %}
    {% endif %}

    {% if paginate.hasNextPages(pageCount) %}
      <li class="page-item">
        <a href="{{paginate.href()}}" class="page-link">Next</a>
      </li>
    {% endif %}
    <li class="page-item">
      <a href="?page={{pageCount}}" class="page-link">Last</a>
    </li>
  </ul>

  {% if user %}
    <a href="/board/write?id={{board.id}}" class="btn btn-success btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-flag"></i>
      </span>
      <span class="text">글쓰기</span>
    </a>
  {% endif %}
{% endblock %}