{% extends 'base.njk' %}

{% block content %}
  <div>
    <h2 class="alert alert-primary">{{ doc.title }}</h2>

    {% if board.boardName_eng == 'anonymous' %}
      <span class="badge rounded-pill bg-light">익명</span>
    {% else %}
      <span class="badge rounded-pill bg-light">{{ author }}</span>
    {% endif %}
    <span class="badge rounded-pill bg-light">{{ doc.createdAt}}</span>
    {% if doc.UserId == user.id %}
      <a class="badge rounded-pill bg-light" href="/board/modify?id={{board.id}}&no={{doc.id}}">수정</a>
      <a class="badge rounded-pill bg-light" >
        <span id="delete-post" style="cursor: pointer;">삭제</span>
      </a>
    {% endif %}
    <br/>
    <hr>
    {% if doc.img %}
      <img class="image" src="{{doc.img}}" alt="이미지"/>
    {% endif %}
    <pre>{{ doc.content }}</pre>
    <br/>
    <hr>
  </div>

  <!-- 댓글 목록 공간 -->
  <section id="commentBox">
    <h5>
      <span id="comments-count">{{comments.length}}</span>개의 댓글
    </h5>
    <hr>
    {% for comment in comments %}
      <div id="comment-{{comment.id}}" class="comment">
        {% if board.boardName_eng == 'anonymous' %}
          {% if board.UserId == comment.UserId %}
            <span class="badge rounded-pill bg-light">글쓴이</span>
          {% else %}
            <span class="badge rounded-pill bg-light">익명</span>
          {% endif %}
        {% else %}
          <span class="badge rounded-pill bg-light">{{ comment.author }}</span>
        {% endif %}
        <span class="badge rounded-pill bg-light">{{ comment.createdAt }}</span>
        {% if comment.UserId === user.id %}
          <a class="badge rounded-pill bg-light" >
            <span class="delete-comment" data-postid="{{doc.id}}" data-commentid="{{comment.id}}" style="cursor: pointer;">삭제</span>
          </a>
        {% endif %}
        <p class="rounded-pill bg-light">{{ comment.comment }}</p>
        <hr>
      </div>
    {% endfor %}
  </section>

  <!-- 댓글 입력 공간 -->
  {% if user %}
    <div class="form-group">
      <textarea  name="comment" id="comment" class="form-control form-control-user" placeholder="댓글을 입력해주세요." rows="3"></textarea>
    </div>
    <div id="submit" class="btn btn-primary btn-icon-split btn-sm" value="댓글 입력">댓글 입력</div>
  {% else %}
    <textarea  name="comment" id="disabled-comment" class="form-control form-control-user" placeholder="댓글을 작성하려면 로그인 해주세요." rows="2" ></textarea>
  {% endif %}

{% endblock %}

{% block script %}
  <script>
    function deleteComment(e) {
      axios
        .post(`/board/comment/comment_delete_submit`, {
          doc_no: `${e.target.dataset.postid}`,
          comment_id: `${e.target.dataset.commentid}`
        })
        .then((res) => {
          document
            .querySelector(`#comment-${res.data.comment_id}`)
            .remove();
          updateCountComments();
        })
        .catch(console.error);
    }

    function updateCountComments() {
      const span_count_comment = document.querySelector('#comments-count');
      const count = document.querySelectorAll('.comment');
      span_count_comment.textContent = count.length || 0;
    }

    if (document.querySelector('#submit')) {
      document
        .querySelector('#submit')
        .addEventListener('click', function (e) {
          axios
            .post('/board/comment/comment_submit', {
              doc_no: `{{doc.id}}`,
              comment: document
                .querySelector('#comment')
                .value
            })
            .then((res) => {
              const div = document.createElement('div');
              div.setAttribute('id', `comment-${res.data.comment.id}`);
              div.setAttribute('class', 'comment');

              const author_span = document.createElement('span');
              author_span
                .classList
                .add('badge', 'rounded-pill', 'bg-light');
              if (`{{board.boardName_eng}}}` === 'anonymous') {
                if (res.data.comment.UserId === {{doc.UserId}}) {
                  author_span.textContent = '글쓴이';
                } else {
                  author_span.textContent = '익명'
                }
              } else {
                author_span.textContent = res.data.comment_author;
              }

              div.appendChild(author_span);

              const date_span = document.createElement('span');
              date_span
                .classList
                .add('badge', 'rounded-pill', 'bg-light');
              date_span.textContent = res.data.comment_createdAt;
              div.appendChild(date_span);

              const a = document.createElement('a');
              a
                .classList
                .add('badge', 'rounded-pill', 'bg-light');
              const delete_span = document.createElement('span');
              delete_span
                .classList
                .add('delete-comment');
              delete_span.setAttribute('data-postid', {{doc.id}});
              delete_span.setAttribute('data-commentid', res.data.comment.id);
              delete_span.setAttribute('style', "cursor: pointer;");
              delete_span.textContent = '삭제';
              delete_span.addEventListener('click', deleteComment);

              a.appendChild(delete_span);
              div.appendChild(a);

              const p = document.createElement('p');
              p.textContent = res.data.comment.comment;
              p
                .classList
                .add('rounded-pill', 'bg-light');
              div.appendChild(p);
              div.appendChild(document.createElement('hr'));

              const commentSection = document.querySelector('#commentBox');
              commentSection.appendChild(div);

              updateCountComments();
            })
            .catch(console.error);

          document
            .querySelector('#comment')
            .value = '';
        });
    }

    if (document.querySelector('#disabled-comment')) {
      document
        .querySelector('#disabled-comment')
        .addEventListener('click', function (e) {
          alert('로그인을 하신 후 이용해 주시기 바랍니다.');
          const encodeURI = encodeURIComponent(`${window.location.href}`);
          window.location = `/auth/login?next_url=${encodeURI}`;
        })
    }

    if (document.querySelector('#delete-post')) {
      document
        .querySelector('#delete-post')
        .addEventListener('click', function (e) {
          axios
            .get('/board/delete?id={{doc.BoardId}}&no={{doc.id}}')
            .then((res) => {
              window.location = `/board/lists?id={{doc.BoardId}}`
            })
            .catch(console.error)
          });
    }

    if (document.querySelectorAll('.delete-comment')) {
      document
        .querySelectorAll('.delete-comment')
        .forEach((element) => {
          element.addEventListener('click', deleteComment);
        });
    }
  </script>
{% endblock %}