{% extends 'base.njk' %}

{% block content %}
    <h1>Movie Player</h1>
    <video width="640" height="480" controls>
        <source src="/video/mindley.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% endblock %}